<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>CSECS!</h1>

    <hr>

    <button type="submit" onclick="Client.geoService()" value="getApi1">GeoService</button>
    <button type="submit" onclick="Client.pixaBayAPIKey()" value="getApi2">Get Pixa Api Key</button>
    <button type="submit" onclick="Client.WeatherAPIKey()" value="getApi3">Get Weather API Key</button>
    <div id="results"></div>

    <script>
        

   
        // const formHandler = () => {
        //     const cityName = document.getElementById('city').value;
        //     const countryName = document.getElementById('country').value;
        //     postData('http://localhost:8000/postData', {city: cityName, country: countryName});
        // }
    </script>
</body>

</html>